@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EpiserverSite1.Models.Pages.StandardPage

<div>
    <h1>@Html.PropertyFor(m => m.Heading)</h1>
    

    <div>@Html.PropertyFor(m => m.MainBody)</div>
    
    <div>@Html.PropertyFor(m => m.ContentArea)</div>
</div>